<?xml version="1.0" encoding="utf-8"?>


<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Icom_Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup >

		
 </configSections>
	<!-- 
	-->
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
 <userSettings>
  <Icom_Proxy.Properties.Settings>
   <setting name="BaudComboBox" serializeAs="String">
    <value>1200</value>
   </setting>
   <setting name="ComPortNumberRadio" serializeAs="String">
    <value>COM0</value>
   </setting>
   <setting name="ComPortNumberProgram1" serializeAs="String">
    <value>com0com</value>
   </setting>
   <setting name="ComPortNumberProgram2" serializeAs="String">
    <value>com0com</value>
   </setting>
   <setting name="ComPortNumberProgram3" serializeAs="String">
    <value>com0com</value>
   </setting>
   <setting name="checkBox_PTT_RTS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkBox_PTT_CIV" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkBox_FeedBackProgram1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkBox_FeedBackProgram2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkBox_FeedBackProgram3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkBoxForceCIV" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="port_nameProgram1" serializeAs="String">
    <value>Program 1</value>
   </setting>
   <setting name="port_nameProgram2" serializeAs="String">
    <value>Program 2</value>
   </setting>
   <setting name="port_nameProgram3" serializeAs="String">
    <value>Program 3</value>
   </setting>
   <setting name="Ptt_timeout" serializeAs="String">
    <value>300</value>
   </setting>
  </Icom_Proxy.Properties.Settings>
 </userSettings>
</configuration>
